<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
                           http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <context:component-scan base-package="org.gislers.esb.product"/>

    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>failover:(tcp://localhost:61616,tcp://localhost:61626)</value>
                </property>
            </bean>
        </property>
        <property name="maxConnections" value="20"/>
    </bean>

    <amq:queue id="product.esb.inbound.queue" physicalName="product.esb.inbound.queue"/>
    <amq:topic id="product.esb.outbound.topic" physicalName="outbound.esb.product.info.topic"/>

    <bean id="inboundProductNotifyTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
        <property name="defaultDestination" ref="product.esb.inbound.queue"/>
    </bean>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
    </bean>

    <camel:camelContext>
        <camel:jmxAgent createConnector="true"/>
        <camel:route>
            <camel:from uri="activemq:queue:product.esb.inbound.queue"/>
            <camel:to uri="activemq:queue:product.esb.outbound.topic"/>
        </camel:route>
    </camel:camelContext>


    <jms:annotation-driven/>

    <bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
        <property name="destinationResolver" ref="destinationResolver"/>
        <property name="concurrency" value="3-10"/>
    </bean>


    <bean id="productNotificationListener" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <!-- never use concurrentConsumers with topics ! -->
        <property name="concurrentConsumers" value="1"/>
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
        <property name="destination" ref="product.esb.inbound.queue"/>
        <property name="messageListener" ref="myMessageListener">
        <property name="sessionTransacted" value="true">
        <!-- Specify topic style publish/subscribe -->
        <property name="pubSubDomain" value="true">
        <!-- Will guaranty that we receive messages in queue after broker goes down -->
        <property name="subscriptionDurable" value="true">
        <property name="clientId" value="myApp">
        <property name="durableSubscriptionName" value="myApp">
    </bean>

</beans>