<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
                           http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <context:component-scan base-package="org.gislers.esb.product"/>

    <bean id="amqCxF" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>failover:(tcp://localhost:61616,tcp://localhost:61626)</value>
        </property>
    </bean>

    <bean id="pooledCxF" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory" ref="amqCxF"/>
        <property name="maxConnections" value="20"/>
    </bean>

    <amq:queue id="product.in" physicalName="product.in"/>
    <amq:queue id="product.error" physicalName="product.error"/>
    <amq:topic id="product.out.v3" physicalName="product.out.v3"/>
    <amq:topic id="product.out.v4" physicalName="product.out.v4"/>

    <bean id="ProductTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pooledCxF"/>
        <property name="defaultDestination" ref="product.in"/>
    </bean>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory" ref="pooledCxF"/>
    </bean>

    <camel:camelContext>
        <camel:contextScan/>
        <camel:jmxAgent id="camelJmx" createConnector="true"/>
    </camel:camelContext>

    <!--Product Errors-->
    <jms:listener-container acknowledge="transacted" connection-factory="pooledCxF" client-id="errorConsumer"
                            cache="connection" destination-type="queue">
        <jms:listener destination="product.error" ref="productErrorConsumer" method="onMessage"/>
    </jms:listener-container>

    <!--Product V3-->
    <jms:listener-container acknowledge="transacted" connection-factory="pooledCxF" client-id="consumerA"
                            cache="connection" destination-type="durableTopic">
        <jms:listener destination="product.out.v3" ref="consumerA" method="onMessage"/>
    </jms:listener-container>

    <jms:listener-container acknowledge="transacted" connection-factory="pooledCxF" client-id="consumerB"
                            cache="connection" destination-type="durableTopic">
        <jms:listener destination="product.out.v3" ref="consumerB" method="onMessage"/>
    </jms:listener-container>

    <!--Product V4-->
    <jms:listener-container acknowledge="transacted" connection-factory="pooledCxF" client-id="consumerC"
                            cache="connection" destination-type="durableTopic">
        <jms:listener destination="product.out.v4" ref="consumerC" method="onMessage"/>
    </jms:listener-container>

    <jms:listener-container acknowledge="transacted" connection-factory="pooledCxF" client-id="consumerD"
                            cache="connection" destination-type="durableTopic">
        <jms:listener destination="product.out.v4" ref="consumerD" method="onMessage"/>
    </jms:listener-container>

</beans>